<p>cytoscape works!</p>

<div style="display: flex;">
    <cytoscape-graph #biggraph title="TGF-beta-Receptor" class="medium-graph" [debug]=true [showToolbar]=true
        [nodes]="bigGraphNodes" [edges]="bigGraphEdges" [style]="bigGraphStylesheet"
        [layoutOptions]="bigGraphLayoutOptions">
    </cytoscape-graph>
    <cytoscape-graph-toolbar [(layoutOptions)]="bigGraphLayoutOptions" [(styles)]="bigGraphStylesheet"
        [showToolbarButtons]="true" (layoutOptionsChange)="bigGraphLayoutToolbarChange($event)"
        (stylesChange)="bigGraphLayoutStylesToolbarChange($event)"
        (styleSelectorChange)="bigGraphLayoutStylesSelectorChange($event)" [nodes]="bigGraphNodes"
        [edges]="bigGraphEdges" direction="column"></cytoscape-graph-toolbar>
</div>