<p-contextMenu #cm [target]="area" [model]="items"></p-contextMenu>
<p-toast></p-toast>


<span *ngIf="preferences.info" class="cytoscape-selector">
    <span class="field-checkbox">
        <p-checkbox [(ngModel)]="groupEnabled" [binary]="true" inputId="binary" [readonly]="true">
        </p-checkbox>
        <label for="binary">Group</label>
    </span>
    <span class="field-checkbox">
        <p-checkbox [(ngModel)]="drawModeEnabled" [binary]="true" inputId="binary" [readonly]="true">
        </p-checkbox>
        <label for="binary">Draw mode</label>
    </span>
    <span class="field-checkbox">
        <p>{{selectorDisplay}}</p>
    </span>
</span>

<div class="dock-window">
    <p-dock [model]="dockLeftItems" position="left">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="100%">
        </ng-template>
    </p-dock>
    <p-dock [model]="dockRightItems" position="right">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="100%">
        </ng-template>
    </p-dock>
    <p-dock [model]="dockBottomItems" position="bottom">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="100%">
        </ng-template>
    </p-dock>
</div>

<div #area>
    <div class="flex">
        <div [style]="{'height': '94vh'}" class="w-12" dropZoneDirective (fileDropped)="onFileDropped($event)">
            <div #myCytoscape id="cytoscape" class="cytoscape-container"></div>
        </div>
    </div>
</div>

<p-dialog header="Find any element" [(visible)]="displayFinder" [maximizable]="true"
    [style]="{width: '35vw', height: '55vw'}" [draggable]="true" [resizable]="false">
    <p-tree #myTree [value]="graphs" selectionMode="single" [(selection)]="selectedNode"
        (onNodeSelect)="nodeSelect($event)" [filter]="true" filterMode="strict"></p-tree>
</p-dialog>

<p-dialog header="Current node" [(visible)]="displaySelectionNode" [modal]="true" (onHide)="onHide()"
    [maximizable]="true" [style]="{width: '100vw', height: '42vw'}" [draggable]="true" [resizable]="false">
    <div *ngIf="currentSelectedNode" class="grid p-fluid">
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-bookmark"
                        pTooltip="Internal ID to override current ID on next save or diagram export"
                        tooltipPosition="top"></i></span>
                <input type="text" [(ngModel)]="captureData.clone" pInputText placeholder="">
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-hashtag" pTooltip="Label"
                        tooltipPosition="top"></i></span>
                <input type="text" [(ngModel)]="captureData.label" pInputText placeholder="">
            </div>
        </div>
        <div class="col-12">
            <div pTooltip="Alias" tooltipPosition="top">
                <p-dropdown class="p-col" scrollHeight="120px" [options]="allNodes" [(ngModel)]="captureData.alias"
                    [style]="{width: '100%'}" defaultLabel="Select an alias" [filter]="true" [showClear]="true"
                    filterBy="label">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div pTooltip="Tags" tooltipPosition="top">
                <p-dropdown scrollHeight="120px" [options]="captureData.tags" [(ngModel)]="captureData.tag"
                    [style]="{width: '100%'}" defaultLabel="Select a tag" [filter]="true" [showClear]="true"
                    filterBy="label">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-clone" pTooltip="Group"
                        tooltipPosition="top"></i></span>
                <input type="text" [(ngModel)]="captureData.group" pInputText placeholder="">
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" pTooltip="Locked item ?" tooltipPosition="top">
                    <p-checkbox [(ngModel)]="_lockedElement" [binary]="true" inputId="binary"
                        (onChange)="handleChangeLock($event)"></p-checkbox>
                </span>
                <input type="text" pInputText placeholder="Locked" readonly="true">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="applyNodeUpdate(captureData)" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Current edge" [(visible)]="displaySelectionEdge" [modal]="true" (onHide)="onHide()"
    [maximizable]="true" [style]="{width: '100vw', height: '32vw'}" [draggable]="true" [resizable]="false">
    <div *ngIf="currentSelectedEdge" class="grid p-fluid">
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-hashtag" pTooltip="Label"
                        tooltipPosition="top"></i></span>
                <input type="text" [(ngModel)]="captureData.label" pInputText placeholder="">
            </div>
        </div>
        <div class="col-12">
            <div pTooltip="Tags" tooltipPosition="top">
                <p-dropdown scrollHeight="120px" [options]="captureData.tags" [(ngModel)]="captureData.tag"
                    [style]="{width: '100%'}" defaultLabel="Select a tag" [filter]="true" [showClear]="true"
                    filterBy="label">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-cog" pTooltip="Source"
                        tooltipPosition="top"></i></span>
                <input type="text" [(ngModel)]="currentSelectedEdge.data()._source" pInputText placeholder=""
                    readonly="true">
            </div>
        </div>
        <div class="col-12">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-cog" pTooltip="Target"
                        tooltipPosition="top"></i></span>
                <input type="text" [(ngModel)]="currentSelectedEdge.data()._target" pInputText placeholder=""
                    readonly="true">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="applyEdgeUpdate(captureData)" label="Ok" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Documentation" [(visible)]="displayMarkdown" [modal]="true" (onHide)="onHide()" [maximizable]="true"
    [style]="{width: '60vw', height: '50vw'}" [draggable]="true" [resizable]="false">
    <p-splitter [style]="{'height': '100%'}" *ngIf="!captureData.isAlias && captureData.editable">
        <ng-template pTemplate>
            <textarea (keyup)="previewNewCData(captureData)" pInputTextarea [style]="{width: '100%', height: '100%'}"
                [(ngModel)]="captureData.selectElementRawCdata"></textarea>
        </ng-template>
        <ng-template pTemplate>
            <div [innerHTML]="captureData.selectElementCdata"></div>
        </ng-template>
    </p-splitter>
    <p-splitter [style]="{'height': '100%'}" *ngIf="captureData.isAlias || !captureData.editable">
        <ng-template pTemplate>
            <div [innerHTML]="captureData.selectElementCdata"></div>
        </ng-template>
    </p-splitter>
    <ng-template pTemplate="footer">
        <p-toggleButton [(ngModel)]="captureData.editable" styleClass="p-button-text" onLabel="Editable"
            offLabel="Readonly" onIcon="pi pi-check" offIcon="pi pi-times" *ngIf="!captureData.isAlias">
        </p-toggleButton>
        <p-button icon="pi pi-save" (click)="applyNewCData(captureData)" label="Update" styleClass="p-button-text"
            *ngIf="!captureData.isAlias">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Group statistics" [(visible)]="displayGroupStatistic" [modal]="true" [maximizable]="true"
    [style]="{width: '40vw', height: '45vw'}" [draggable]="true" [resizable]="false">
    <p-chart type="polarArea" [data]="dataGroupStatistics" [options]="chartOptions" [style]="{'width': '40%'}">
    </p-chart>
</p-dialog>

<p-dialog header="Drag and drop file to update style" [modal]="true" [(visible)]="displayStyle" [maximizable]="true"
    [breakpoints]="{'960px': '50vw'}" [style]="{width: '60vw', height: '50vw'}" [draggable]="false" [resizable]="false">
    <pre dropZoneDirective (fileDropped)="onFileDropped($event)">{{tags}}</pre>
</p-dialog>

<p-dialog header="Png file to export" [modal]="true" [style]="{width: '60vw', height: '50vw'}" header="Png export"
    [(visible)]="displayExportPng">
    <img #myPng src=""><img>
</p-dialog>

<p-dialog header="Alias" [modal]="true" [style]="{width: '45vw', height: '55vw'}" [(visible)]="displayAlias">
    <p-tree #myTreeAlias [value]="alias" selectionMode="single" [(selection)]="selectedAlias"
        (onNodeSelect)="onSelectCurrentAlias($event)" [filter]="true" filterMode="strict"></p-tree>
</p-dialog>