<p-contextMenu #cm [target]="area" [model]="items"></p-contextMenu>
<p-messages [(value)]="msgs" [enableService]="true"></p-messages>

<div #area>
    <div class="flex">
        <div [style]="{'height': '1024px'}" class="w-10">
            <div #myCytoscape id="cytoscape" class="cytoscape-container"></div>
        </div>
        <div class="w-2">
            <p-tabView>
                <p-tabPanel header="Find">
                    <p-treeTable #myTreeTable [value]="graphs" [columns]="cols" [paginator]="false">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText size="20" placeholder="Global Filter"
                                    (input)="myTreeTable.filterGlobal($any($event).target?.value, 'contains')"
                                    style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns; let i = index" (click)="onSelect(rowData)">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-treeTable>
                </p-tabPanel>
                <p-tabPanel header="Node/Edge">
                    <p-inputSwitch [(ngModel)]="_lockedElement" (onChange)="handleChangeLock($event)"
                        *ngIf="_selectElement"></p-inputSwitch>
                    <pre>{{_selectElement | json}}</pre>
                </p-tabPanel>
                <p-tabPanel header="Documentation">
                    <div [innerHTML]="_selectElementCdata"></div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<p-dialog [modal]="true" header="Png" [(visible)]="displayExportPng">
    <img #myPng src=""><img>
</p-dialog>