<p-contextMenu [global]="true" [model]="items"></p-contextMenu>

<p-splitter [style]="{'height': '1024px'}">
    <ng-template pTemplate>
        <div #myCytoscape id="cytoscape" class="cytoscape-container"></div>
    </ng-template>
    <ng-template pTemplate>
        <p-splitter layout="vertical">
            <ng-template pTemplate>
                <p-inputSwitch [(ngModel)]="_lockedNode" (onChange)="handleChangeLockNode($event)"></p-inputSwitch>
                <pre>{{_selectNode | json}}</pre>
            </ng-template>
            <ng-template pTemplate>
                <p-inputSwitch [(ngModel)]="_lockedEdge" (onChange)="handleChangeLockEdge($event)"></p-inputSwitch>
                <pre>{{_selectEdge | json}}</pre>
            </ng-template>
        </p-splitter>
    </ng-template>
</p-splitter>