<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="newGraph">
                <label for="float-input">Name</label>
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew(newGraph)"></button>
            </span>
        </ng-template>

        <ng-template pTemplate="right">
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="graphs" [rows]="10" [paginator]="true" [globalFilterFields]="['label']"
        responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Graphs</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="label">Label <p-sortIcon field="label"></p-sortIcon>
                </th>
                <th>Import
                </th>
                <th>Export
                </th>
                <th>Select
                </th>
                <th>Delete
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-graph>
            <tr>
                <td>
                    <p-tableCheckbox [value]="graph"></p-tableCheckbox>
                </td>
                <td>{{graph.label}}</td>
                <td>
                    <button pButton type="button" (click)="showImport(graph)" icon="pi pi-info-circle"
                        label="Import"></button>
                </td>
                <td><button pButton pRipple label="Copy" icon="pi pi-upload" (click)="gexf(graph)"></button></td>
                <td><button pButton pRipple label="Select" icon="pi pi-sign-out" (click)="select(graph)"></button></td>
                <td><button pButton pRipple label="Delete" icon="pi pi-trash" (click)="deleteGraph(graph)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [modal]="true" header="Import {{selectedGraph?.label}}" [(visible)]="displayImport">
    <p-fileUpload name="myfile[]" [customUpload]="true" (uploadHandler)="uploadHandler($event, selectedGraph)">
    </p-fileUpload>
</p-dialog>

<p-dialog header="Gexf" [(visible)]="displayExport" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <pre>{{exportDataHtml}}</pre>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayExport=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>